
  <h1>Cocktails (<%= @cocktails.size %>)</h1>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-3">
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-body">
          <%= image_tag "mojito.jpeg", class: "mx-auto d-block" %>
          <h5 class="card-title mt-3 text-center"><%= cocktail.name%></h5>
        </div>
      <% end %>
      <ul class="list-inline mx-auto">
        <li class="list-inline-item">
          <%= link_to edit_cocktail_path(cocktail) do %>
            <i class="far fa-edit fa-2x"></i>
          <% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to cocktail_path(cocktail), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <i class="far fa-trash-alt fa-2x"></i>
          <% end %>
        </li>
      </ul>
    </div>
    </div>
  <% end %>
</div>


