<h1><%= @cocktail.name %></h1>

<h5 class="mt-5 text-center">Doses</h5>
<div class="row">
  <div class="col">
    <% if @cocktail.image.attached? %>
      <%= cl_image_tag @cocktail.image.key, width: 200, crop: :fill, class: "mx-auto d-block" %>
    <% end %>
  </div>
  <div class="col">
  <ul class="list-unstyled">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-unstyled-item">
          <%= link_to dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
          <%= dose.description %> <%= dose.ingredient.name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
 

<hr class="mt-5">
<p></p>
<h5 class="mt-5">Add dose</h5>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: @ingredients %>
  <%= f.hidden_field :cocktail_id %>
  <%= f.submit class: "btn btn-outline-primary" %>
<% end %>