<h1 class="text-center"><%= @cocktail.name %></h1>


<div class="row">
  <div class="col">
    <% if @cocktail.image.attached? %>
      <%= cl_image_tag @cocktail.image.key, width: 330, crop: :fill, class: "mx-auto d-block" %>
    <% end %>
  </div>
  <div class="col">
  <h3>Doses</h3>
  <ul class="list-unstyled">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-unstyled-item">
          <%= link_to dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
          <%= dose.description %> <%= dose.ingredient.name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
 
<hr class="mt-3">

<div class="row">
  <div class="col">
    <h3 class="mt-2">Add dose</h3>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, collection: @ingredients %>
      <%= f.hidden_field :cocktail_id %>
      <%= f.submit class: "btn btn-outline-primary" %>
    <% end %>
  </div>
    
  <div class="col">
    <h3 class="mt-2">Add review</h3>
    <%= simple_form_for [@cocktail, @review] do |f| %>
      <%= f.input :score %>
      <%= f.input :comment %>
      <%= f.submit class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>

<hr class="mt-3">
<h3 class="mt-2">Reviews</h3>
<ul class="list-unstyled">
  <% @reviews.each do |review| %>
    <li class="list-unstyled-item">Score: <strong><%= review.score %></strong>, Comment: <strong><%= review.comment %></strong></li>
  <% end %>
</ul>