<!DOCTYPE html>
<html>
  <head>
    <title>Happy cocktails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="navbar pt-2 pb-1 px-3">
      <%= link_to cocktails_path do %>
        <h5>Happy cocktails 🥂</h5>
      <% end %>
      
      <form action="/cocktails" method="GET">
      <div class="form-inline mt-n1">
        <div class="form-group">
          <input type="text" name="query" id="query" class="form-control">
        </div>
        <div class="form-group mx-2">
          <input type="submit" value="Search" class="form-control btn btn-outline-primary">  
        </div>
      </div>
      </form>
     
      <%= link_to new_cocktail_path  do %>
        <h5>Add cocktail</h5>
      <% end %>
    </div>

    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
